<nav class=" bg-light navbar navbar-expand-lg navbar-light" id="nav" >
    <div class="container-fluid " >
        <img src="../../assets/Logoclick.png" alt="" width="54px">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/nosotros">Acerca de nosotros</a>
          </li>
        </ul>
        <a href="#"  id="botonini" class="btn btn">Iniciar Sesion</a>
      </div>
    </div>
  </nav>
