* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
}

/*perfil*/



.seccion-perfil-usuario .perfil-usuario-avatar {
   
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 0px;
    width: 1170px;
    height: 560px;
    left: calc(8% - 90px);
    z-index: 1;
    border-radius: 20px 20px 20px 20px;

}


.datos-img{
    width: 600px;
    margin: 20px;    
}


.datos-negocio {

    margin-bottom: 300px;
    font: oblique bold 120% cursive;
    box-shadow: 0 0 15px #da340a33;
    position: absolute;
    bottom: 40px;
    width: 500px;
    height: 200px;
    left: calc(61% - 80px); 
    border-radius: 20px 20px 20px 20px;


}


.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: left;
    background: linear-gradient(#e4e4e4, transparent);
    margin-bottom: 1.25rem;
    
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 100%;
    height: 35rem;
    margin: 5%;
    background: linear-gradient(45deg, #9E9797, #EEE8E8);
    border-radius: 20px 20px 20px 20px;
}


.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}



.wrap {
    max-width: 1280px;
    width: 75%;
    margin: 10px;
}

.wrap>h1 {
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
    
}

.wrap>h1:after {
    content: '';
    width: 104%;
    height: 2px;
    background: #C7C7C7;
    margin: 15px 0;
}

.store-wrapper {
    display: flex;
    flex-wrap: wrap;
}




/* PRODUCTOS ============*/

.products-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}

.products-list .product-item img {
    width: 100%;
}

.products-list .product-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #f10b0b;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


/* RESPONSIVE */

@media screen and (max-width: 1100px) {
    .products-list .product-item {
        width: 30.3%;
    }
}

@media screen and (max-width: 900px) {
    .category_list,
    .products-list {
        width: 100%;
    }
    .category_list {
        flex-direction: row;
        justify-content: space-between;
    }
    .category_list .category_item {
        align-self: flex-start;
        width: 15%;
        font-size: 14px;
    }
    .products-list .product-item {
        margin-left: 4.5%;
    }
    .products-list .product-item:nth-child(3n+1) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .category_list {
        flex-direction: column;
    }
    .category_list .category_item {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .products-list .product-item {
        width: 47.5%;
    }
    .products-list .product-item:nth-child(3n+1) {
        margin-left: 4.5%;
    }
    .products-list .product-item:nth-child(2n+1) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 350px) {
    .products-list .product_item {
        width: 100%;
        margin-left: 0px;
    }
}

.card-group {
    width: 900px; 
    height: 200px;
    float:right;
    margin: -1% 22%;
    margin-bottom: 25px;
    margin-left: 3%;
    display: flex;
}

.card-group img {
    width: 200px; 
    height: 200px; 
}

.card{
    border: 20px;; 
    text-align:center;     
    margin: 15px  
}

.card-title{
    display: block;
    width: auto ;
    padding: 8px 0;
    background: #f10b0b;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer{
    width: 1350px; 
    height: 200px;
    float: right;
    margin: 100px 0px;
}


/*
.card-group {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}*/
/*
.card-group img {
    width: 100%;
}

.card-group p {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #D3D3D3;
    color: #000000;
    text-align: center;
    text-decoration: none;
}*/