<app-nav></app-nav>

  <div class=" card  border-dark mb-3 text-center " id="presentacion">
    <div class="card-body">
      <img id="ilu1" src="../../assets/ilu.png" class="rounded float-start" alt="..."width="300px" height="300px">
      <p class="card-text">Encuentra los mejores productos a un click </p>
       <!--<a href="#" class="btn btn-dark">Crea tu negocio en nuestra plataforma</a>-->
      
    </div>
  </div>
  

  <div class="card border-dark mb-3" id="efecto" style="width: 18rem;">
    <div class="c-img">
    <img src="../../assets/sazon.png" class="rounded float-start" alt="..."width="200px" height="200px">
    </div>
    <div class="capat">
    <div class="card-body" >
        <p class="card-text"> El buen sazon </p>
        <p class="card-text"> Comida</p>
        <p class="card-text"> La patria 86#18</p>
        <p class="card-text"> 8:00am - 8:00pm</p>
        <a href="#" class="btn btn">Comprar</a>
      </div>
    </div>
</div>



<app-footer></app-footer>
